*{
  margin: 0px;
}

.center {
  text-align: center;
}

.divForm{
  margin-top: 2%;
  background-color: rgb(183, 182, 182);
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  height: 330px;
  border-radius: 20;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

h3 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.informacoes{
  margin-top: 3%;
}

.btnCancelar{
  padding: 10px;
  margin-top: 1%;
  color: white;
  background-color: rgb(0, 128, 255);
  font-size: 18px;
  border-radius: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}

